/*Modif taille header*/
header {
	height: 150px;
	background-color: #fff;
}
h1 {
	text-align: center;
}
h3, h4 {
	margin-bottom: 50px;
}
.navbar{
	margin-bottom: 0px;	
}
/*Changement du parallaxe*/
.bg-1 {
	background: url('../Ressources/eau.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 300;
}
.logo {
	margin-top:15px;
}


.show {
	padding-bottom: 50px;
}

.image_bat {
	height: 400px;
	width: 400px;
}
.image_qrcode{
	height: 200px;
	width: 200px,
}
.text-center {
	padding: auto;
	line-height: 2;
}

.description {
	padding:10%;
}
.page-header {
	border-bottom: none;
}
.titre {
	margin-top:30px;
}
#chateau, #bottom, {
	background-color: #d3d3d3;
	width: 100%;
}
#station, #traitement {
	width: 100%
}

#footer {
	margin-top: 0px;
}
@media screen and (max-width: 768px){
	h1 {
		font-size: 40px;
		margin: 10px;
	}
}